<?xml version="1.0" encoding="utf-8"?>
<%= %q[<?xml-stylesheet type="text/xsl" href="/result_transformer.xslt"?>].html_safe if @xlst %>

<% if @pairs.empty? %>

<empty />

<% else %>

<pairs>
<% @pairs.each do |pair| %>
    <pair id="<%= pair.id %>">
        <one><%= pair.one %></one>
        <two><%= pair.two %></two>
        <finalized><%= pair.finalized? %></finalized>
        <max_valid_rn><%= pair.max_valid_rn %></max_valid_rn>
    </pair>
<% end %>
</pairs>

<% end %>
