<?xml version="1.0" encoding="utf-8"?>
<%= %q[<?xml-stylesheet type="text/xsl" href="/result_transformer.xslt"?>].html_safe if @xlst %>

<% if @num_list.empty? %>

<empty />

<% else %>

<pairs>
<% @num_list.each_with_index do |pair, num| %>
    <pair index="<%= num + 1 %>">
        <el><%= pair.first %></el>
        <el><%= pair.last %></el>
    </pair>
<% end %>
</pairs>

<% end %>
