<% if @type == :ssr%>

    <%= @resp %>

<% else %>

    <div data-controller="result" data-number=<%=@t_number%> >
    </div>

<% end %>

<%= button_to 'Возврат к вводу', '/', method: 'get', id: 'return' %>
