<?xml version="1.0" encoding="utf-8"?>

<% if @us.empty? %>

<empty />

<% else %>

<users>
<% @us.each do |ur| %>
    <user id="<%= ur.id %>">
        <name><%= ur.login %></name>
        <% if @u.login == 'admin' %>
            <password><%= ur.password %></password>
        <% else %>
            <password><%= "[FILTERED]" %></password>
        <% end %>
    </user>
<% end %>
</users>

<% end %>
