<div><p>Вы вошли как <a href=<%= lk_path %>><%= @u.login %></a>. <a href=<%= logout_path %>>Выйти</a></p></div>

<h1>Список всех пользователей сайта:</h1>

<ul>
<% @us.each do |ur| %>
    <li><h3><%= ur.login %></h3></li>
<% end %>
</ul>

