<h1>Личный кабинет пользователя <%= @u.login %></h1>
<h3>Вернуться на <a href=<%= input_index_path %>>главную страницу</a></h3>
<h3>Посмотреть <a href='/users/list'>список</a> пользователей</h3>
<form method="POST" action="/users/lk" data-controller="update">
    <table>
        <tr>
            <td><label for="login">Логин: </login></td>
            <td colspan="2"><input type="text" name="login" id="login" required autocomplete="off" placeholder="Логин" value=<%= @u.login %>></td>
        </tr>
        <tr>
            <td colspan="2"><div hidden id="login_error" class="error" ></div></td>
        </tr>
        <tr>
            <td><label for="login">Пароль: </login></td>
            <td><input type="password" name="password" id="password" required placeholder="Пароль" autocomplete="off" value=<%= @u.password %>></td>
            <td><%= image_tag 'ce.svg', class: :pwdasset, 'data-subst' => (image_path 'oe.svg') %></td>
        </tr>
        <tr>
            <td colspan="3"><div hidden id="password_error" class="error" ></div></td>
        </tr>
        <tr>
            <td><label for="login">Подтвердите пароль: </login></td>
            <td><input type="password" name="passwordc" id="passwordc" placeholder="Подтвердите пароль" required autocomplete="off"></td>
            <td><%= image_tag 'ce.svg', class: :pwdasset, 'data-subst' => (image_path 'oe.svg') %></td>
        </tr>
        <tr>
            <td colspan="3"><div hidden id="passwordc_error" class="error" ></div></td>
        </tr>
        <tr>
            <td colspan="3"><input type="submit" value="Обновить"></td>
        </tr>
    </table>
</form>

