<h1>Создание нового пользователя</h1>
<h3>Для начала работы необходимо войти в уже существующий аккаунт или <a href=<%= newbie_path %>>зарегистрироваться</a></h3>


<form method="GET" action="/users" data-controller="login">
    <table>
        <tr>
            <td><label for="login">Логин: </login></td>
            <td colspan="2"><input type="text" name="login" id="login" required autocomplete="off" placeholder="Логин"></td>
        </tr>
        <tr>
            <td colspan="3"><div hidden id="login_error" class="error" ></div></td>
        </tr>
        <tr>
            <td><label for="login">Пароль: </login></td>
            <td><input type="password" name="password" id="password" required placeholder="Пароль" autocomplete="off"></td>
            <td><%= image_tag 'ce.svg', class: :pwdasset, 'data-subst' => (image_path 'oe.svg') %></td>
        </tr>
        <tr>
            <td colspan="3"><div hidden id="password_error" class="error" ></div></td>
        </tr>
        <tr>
            <td colspan="3"><input type="submit" value="Подтвердить"></td>
        </tr>
    </table>
</form>
