<h1>Создание нового пользователя</h1>
<h3>Для начала работы необходимо зарегистрироваться или <a href=<%= login_path %>>войти</a> в уже существующий аккаунт</h3>

<form method="POST" action="/users/create" data-controller="create">
    <table>
        <tr>
            <td><label for="login">Логин: </login></td>
            <td colspan="2"><input type="text" name="login" id="login" required autocomplete="off" placeholder="Логин"></td>
        </tr>
        <tr>
            <td colspan="3"><div hidden id="login_error" class="error" ></div></td>
        </tr>
        <tr>
            <td><label for="login">Пароль: </login></td>
            <td><input type="password" name="password" id="password" required placeholder="Пароль" autocomplete="off"></td>
            <td><%= image_tag 'ce.svg', class: :pwdasset, 'data-subst' => (image_path 'oe.svg') %></td>
        </tr>
        <tr>
            <td colspan="3"><div hidden id="password_error" class="error" ></div></td>
        </tr>
        <tr>
            <td><label for="login">Подтвердите пароль: </login></td>
            <td><input type="password" name="passwordc" id="passwordc" placeholder="Подтвердите пароль" required autocomplete="off"></td>
            <td><%= image_tag 'ce.svg', class: :pwdasset, 'data-subst' => (image_path 'oe.svg') %></td>
        </tr>
        <tr>
            <td colspan="3"><div hidden id="passwordc_error" class="error" ></div></td>
        </tr>
        <tr>
            <td colspan="3"><input type="submit" value="Подтвердить"></td>
        </tr>
    </table>
</form>
