<p>
    Дан массив чисел arr_z. Найти номер первого кратного 3 элемента и поместить этот номер на место минимального элемента.
</p>
<form action=<%= result_path %> method="get" data-controller="input">
        <table>
            <tr>
                <td><label for="arr_z">Введите массив чисел</label></td>
            </tr>
            <tr>
                <td><input type="text" name="arr_z" id="arr_z" required autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Обработать"></td>
            </tr>
            <tr>
                <td id="result"></td>
            </tr>
    </table>
</form>
