<% unless @err %>
    <p>Обработанный массив:</p>
    <div><%= @list.join(', ') %></div>
<% else %>
    <p>Возникла ошибка при обработке: <%= @err %></p>
<% end %>

<div>
<%= link_to "Назад ко вводу", input_path %>
</div>
