<% if @num_list.empty? %>

<p>К сожалению, на данном промежутке нет ни одной пары дружественных чисел</p>

<% else %>

<p>Пары чисел, лежащие в данном промежутке:</p>

<table class="result">
    <thead>
        <tr>
            <th>№</th>
            <th>Число 1</th>
            <th>Число 2</th>
        </tr>
    </thead>
    <tbody>
    <% @num_list.each_with_index do |pair, num| %>
        <tr>
            <td><%= num + 1 %></td>
            <td><%= pair.first %></td>
            <td><%= pair.last %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<% end %>

<%= button_to 'Возврат к вводу', '/', method: 'get', id: 'return' %>
