/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  font-family: sans-serif;
}

form table {
    margin-top: 10px;
    border: 2px solid black;
    width: fit-content;
}

input[type="submit"] {
    width: 100%;
}


table.result, .result td, .result th {
  border: 2px solid black;
  border-collapse: collapse;
  margin-top: 10px;
}

#return {
  margin-top: 10px;
}
