<div><p>Вы вошли как <a href=<%= lk_path %>><%= @u.login %></a>. <a href=<%= logout_path %>>Выйти</a></p></div>

<p>Это приложение для вычисления взаимно дружественных чисел! Пожалуйста, введите число n, и сайт найдет все дружетсвенные числа в диапазоне (1, n]: </p>

<%= turbo_frame_tag "turbo_result" do %>

    <form action="/result" method="get">
        <table>
            <tr>
                <td><label for="t_number">Введите число n:</label> </td>
                <td><input type="number" id="t_number" name="t_number" placeholder="Введите n" min="2" step="1"
                        required></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Найти"></td>
            </tr>
        </table>
    </form>

<% end %>
